{% extends "students/base.html" %}


{% block title %}
Delete Student
{% endblock %}


{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card p-4 text-center">

            <h3 class="text-danger">
                Delete Student
            </h3>

            <p class="mt-3">

                Are you sure you want to delete

                <strong>
                    {{ student.name }}
                </strong>

                ?

            </p>

            <p class="text-muted">

                This action cannot be undone.

            </p>


            <form method="POST">

                {% csrf_token %}

                <button
                    type="submit"
                    class="btn btn-danger"
                >
                    Yes, Delete
                </button>

                <a
                    href="{% url 'student_detail' student.id %}"
                    class="btn btn-secondary"
                >
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}